{% extends "template.html"%}
{% block conteudo %}
<form method="post" action="{{ url_for('atualizarEstacionamento') }}" enctype="multipart/form-data" id="formulario">
<div class="box_cabecalho">
  <div class="box_titulo_interno">
    <i class="bi bi-sign-stop" data-toggle="tooltip" data-placement="right" title="Tipo Veiculo"></i> {{ titulo }}
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="#" onclick="myFunction()"><i class="bi bi-save" style="font-size:1.5rem; color:white;"></i></a>
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="{{url_for('visualizarEstacionamento',id=id)}}"><i class="bi bi-reply" style="font-size:1.5rem; color:white;"></i></a>
  </div>
</div>
<div class="boxformulario">
  <fieldset>
    <input type="hidden" name="id" id="id" value="{{id}}">
    {{form.csrf_token()}}
    <div class="form-group">{{ form.placa.label(class='form-label') }}
      {{ form.placa(class='form-control') }}
    </div>
    <div class="form-group">{{ form.veiculo.label(class='form-label') }}
      {{ form.veiculo(class='form-control') }}
    </div>
    <div class="form-group">{{ form.entrada.label(class='form-label') }}
      {{ form.entrada(class='form-control') }}
    </div>                         
  </fieldset>
</div>
</form>
{% endblock%}