{% extends "template.html"%}
{% block conteudo %}
<form method="post" action="{{ url_for('estacionamento') }}" enctype="multipart/form-data" id="formulario">
<!-- barra de navegação para desktop/notebook -->
<div class="boxtitulocombusca">
    <div class="box_titulo"><i class="bi bi-sign-stop" data-toggle="tooltip" data-placement="right" title="Estacionamento"></i> {{ titulo }}</div>
    <div class="box_busca">{{form.pesquisa(class="form-control")}}</div>    
    <div class="box_botoes"><a class="btn btn_titulo" href="#" onclick="myFunction()"><i class="bi bi-search" style="font-size:1.5rem; color:white;"></i></a></div>
    <div class="box_botoes"><a class="btn btn_titulo" href="{{url_for('estacionamento')}}"><i class="bi bi-eraser" style="font-size:1.5rem; color:white;"></i></a></div>
    <div class="box_botoes"><a class="btn btn_titulo" href="{{url_for('novoEstacionamento')}}"><i class="bi bi-file-earmark-plus" style="font-size:1.5rem; color:white;"></i></a></div>
</div>
<!-- final -->
<!-- barra de navegação para mobile -->
<div class="boxtitulocombusca_responsivo">  
  <div class="box_organizadora">  
    <div class="box_titulo"><i class="bi bi-sign-stop" data-toggle="tooltip" data-placement="right" title="Estacionamento"></i> {{ titulo }}</div>
    <div class="box_botoes"><a class="btn btn_titulo" href="#" onclick="myFunction()"><i class="bi bi-search" style="font-size:1.5rem; color:white;"></i></a></div>
    <div class="box_botoes"><a class="btn btn_titulo" href="{{url_for('estacionamento')}}"><i class="bi bi-eraser" style="font-size:1.5rem; color:white;"></i></a></div>
    <div class="box_botoes"><a class="btn btn_titulo" href="{{url_for('novoEstacionamento')}}"><i class="bi bi-file-earmark-plus" style="font-size:1.5rem; color:white;"></i></a></div>
   </div>
  <div class="container input-group">{{form.pesquisa_responsiva(class="busca__input")}}</div>
</div>
<!-- final -->
</form>
<!-- mostrar dados -->
<div class="boxcentral">
  {% for estacionamento in estacionamentos.items %}
  <div class="cards__lista">
    <div class="card__imagem">
      <i class="bi bi-car-front-fill" style="font-size:3rem; color:black;"></i>
    </div>
    <div class="cardladodireito">
      <div class="card__tag">
          Placa:
      </div>
      <div class="card__info">
        {{ estacionamento.placa_estacionamento }}
      </div>
      <div class="card__tag">
        Entrada:
      </div>        
      <div class="card__info">
        {{ estacionamento.entrada_estacionamento.strftime('%d/%m/%Y %H:%M') }}
      </div>
      <div class="card__botao">
        <a class="btn" href="{{url_for('visualizarEstacionamento',id=estacionamento.cod_estacionamento)}}"><i class="bi bi-eye" style="font-size:1.5rem; color:black;"></i></a>
      </div>      
    </div>
    
  </div>
  {% endfor %}
</div>
<!-- navegação entre as páginas -->
<div class="boxcentral">
  <!-- paginação links-->
  <div class="text-right">
    <a href="{{ url_for('estacionamento', page=estacionamentos.prev_num) }}"
      class="btn btn-outline-dark 
      {% if estacionamentos.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
  <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in estacionamentos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  <!-- Check for the active page and set the link to "Active"-->
            {% if estacionamentos.page == page_num %}
            <a href="{{ url_for('estacionamento', page=page_num) }}"
              class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('estacionamento', page=page_num) }}"
              class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('estacionamento', page=estacionamentos.next_num) }}"
      class="btn btn-outline-dark 
      {% if estacionamentos.page == estacionamentos.pages %}disabled{% endif %}">
        &raquo;
    </a>
  </div>
  <p class="text-right mt-3">Mostrando página {{ estacionamentos.page }} de {{ estacionamentos.pages }}</p>
</div>
{% endblock%}