<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    
  <link href="{{ url_for('static',filename='app.css') }}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Estacionamento</title>
</head>
<header>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-primary p-4">
        <button type="button" class="btn btn-outline-light bi bi-house" onclick="window.location.href = '/'"> Home</button>
        {% if(session['tipousuario_logado'] == 1)%}
          <button type="button" class="btn btn-outline-light bi bi-person" onclick="window.location.href = '/usuario'"> Usuários</button>
          <button type="button" class="btn btn-outline-light bi bi-people" onclick="window.location.href = '/tipousuario'"> Tipos Usuário</button>
          <button type="button" class="btn btn-outline-light bi bi-card-list" onclick="window.location.href = '/tipoveiculo'"> Tipos Veículos</button>
          <button type="button" class="btn btn-outline-light bi bi-shield-check" onclick="window.location.href = '/marcaveiculo'"> Marca Veículos</button>
          <button type="button" class="btn btn-outline-light bi bi-credit-card" onclick="window.location.href = '/tipopagamento'"> Tipo Pagamento</button>
          <button type="button" class="btn btn-outline-light bi bi-card-list" onclick="window.location.href = '/preco'"> Preços</button>
          <button type="button" class="btn btn-outline-light bi bi-car-front" onclick="window.location.href = '/veiculo'"> Veículos</button>
        {% endif%}
        <button type="button" class="btn btn-outline-light bi bi-sign-stop" onclick="window.location.href = '/estacionamento'"> Estacionamento</button>
        <button type="button" class="btn btn-outline-light bi bi-clock-history" onclick="window.location.href = '/estacionamentoHistorico'"> Est. Histórico</button>
        <button type="button" class="btn btn-outline-light bi bi-key" onclick="window.location.href = '/editarSenhaUsuario'"> Trocar Senha</button>
        <button type="button" class="btn btn-outline-light bi bi-box-arrow-right" onclick="window.location.href = '/logout'"> Logout</button>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <i class="bi bi-p-square-fill" style="font-size:2rem; color:white;"></i>
    </nav>
</header>
<body>
  <div class="container" style="min-height: 620px"> 
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <br>
        <div class="msg_alert bg-{{category}}" role="alert">
          {{ message }}
        </div>   
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block conteudo %} 
    {% endblock%}
  </div>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <i class="bi bi-p-square-fill" style="font-size:2rem; color:blue;"></i>
    </a>
    <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Gerenciador Estacionamento</span>
  </div>

</footer>
<script>
  function myFunction() {
      document.getElementById("formulario").submit();
  }
</script>  
</body>
</html>